.contiener {
    background-image: url("https://img.freepik.com/vector-gratis/patron-costuras-huellas-perros-colores_429461-332.jpg?w=740");
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}