.conteiner {
    background-image: url("https://img.freepik.com/vector-gratis/patron-costuras-lindo-tipo-dibujos-animados-estilo-perro-perro-huella-hueso_429461-343.jpg?w=740");
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 10px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 50px;
}

.card {
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
}