.conteiner {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    overflow: auto;
    padding: 30px;
    display: grid;
    align-items: center;
    align-self: center;
    
}

.btn {
border-radius: 4px;
background-color: #f4511e;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}