.navbar {
  background-color: antiquewhite;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.btn {
  width: 100%;
  background-color: burlywood;
  color: white;
  padding: 10px 10px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(156, 130, 96);
  transform: scale(1.1);
  cursor: pointer;
}

.imgHome:hover {
  transform: scale(1.1);
  cursor: pointer;
}