@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.conteiner {
  background-image: url("https://img.freepik.com/vector-gratis/patron-costuras-huellas-perros-colores_429461-332.jpg?w=740");
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font:bold 7.5vw/1.6 'Lobster', sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0px #f4511e, 3px 3px 0px gainsboro, 6px 6px 0px teal;
}



.row{
  display: grid;
  grid-template-rows: repeat(auto-fill, 50px);
  padding: 10px;
  font-weight: normal;

    
}

.form {
  background-color:white;
  width: 600px;
  margin: auto;
  border-radius: 15px;
}
 
.label{
  display: flex;
  flex-direction: row;
}

.input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

  .inputl{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }

  .select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
      
  }
 
  .ul {
      list-style: none;
  }
  .btn {
    width: 70%;
    background-color: burlywood;
    color: white;
    padding: 20px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(156, 130, 96);
    transform: scale(1.1);
    cursor: pointer;
  }

  .botonTemp { 
    width: 30%;
    background-color: rgb(18, 137, 153);
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }